.carousel-indicators {
  list-style: none; /* Remove o estilo da lista */
  padding: 0;
  margin: 0;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin: 1px;
}

.carousel-inner img {
  height: 400px; /* Define a altura das imagens */
  width: auto;
  object-fit: fill; /* Mantém a proporção das imagens e preenche o contêiner */
}
