<div class="container-fluid" id="rodape">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 cold-lg-6 col-xl-6 text-center" id="coluna1">
      <h6>Entre em contato</h6>
      <p><i class="fa-brands fa-whatsapp"></i> (81) 996908766</p>
      <p><i class="fa-solid fa-globe"></i> www.easystore.com.br</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 cold-lg-6 col-xl-6 text-center" id="coluna2">
      <h6>Siga nas redes sociais</h6>
      <p><i class="fa-brands fa-instagram"></i> @easyStore</p>
      <p><i class="fa-solid fa-hashtag"></i> easyStore</p>
    </div>
  </div>
</div>
